---
sequence: ['manage', 'tenant', 'storage']
matrix:
    - health: ['up', 'up', 'up']
      action: []
    - health: ['up', 'up', 'down']
      action: ['recovery']
    - health: ['up', 'down', 'up']
      action: []
    - health: ['up', 'down', 'down']
      action: ['recovery']
    - health: ['down', 'up', 'up']
      action: []
    - health: ['down', 'up', 'down']
      action: ['recovery']
    - health: ['down', 'down', 'up']
      action: []
    - health: ['down', 'down', 'down']
      action: ['recovery']