PROCESS_CHECK_INTERVAL=5
PROCESS_REBOOT_RETRY=3
REBOOT_INTERVAL=5
MASAKARI_API_SEND_TIMEOUT=10
MASAKARI_API_SEND_RETRY=12
MASAKARI_API_SEND_DELAY=10
LOG_LEVEL="debug"
DOMAIN="Default"
PROJECT="demo"
ADMIN_USER="admin"
ADMIN_PASS="admin"
AUTH_URL="http://127.0.0.1:5000/"
REGION="RegionOne"
